<nav>
    <ul>
        <li><a href="{% url 'core:index' %}">La Caja de Pandora</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'producto:index' %}">Producto</a></li>
            <li><a href="{% url 'core:about' %}">About</a></li>    
            <form action="{% url 'core:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Cerrar Sesión</button>
            </form>
        {% else %}
            <li><a href="{% url 'core:about' %}">About</a></li>
           <li><a href="{% url 'core:login' %}">Login</a></li>
        {% endif %}
        
    </ul>
</nav>